body{
    background-color: #ebebeb;
}
.modal-content{
    background-color: #f0f0f0;
}
.modal .form-control{
    margin-bottom: 20px;
}
.bg-custom{
    background: linear-gradient(-45deg, #d64545, #ec8c5f, #e7556e, #b763c2);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

}
.nav-link{
    margin-left: 15px;
    border-radius: 5px;
    transition: 0.2s;
}
.nav-link:hover{
    background-color: #1f2f417a;
}
.nav-item.dropdown .dropdown-menu{
    margin-left: 15px;
    transition: 0.2s;
}
.nav-item.dropdown .dropdown-menu .dropdown-item:hover{
    background-color: #1f2f417a;
}
#cart{
    margin-right: 15px;
}

#search{
    border-radius: 5px 50px 50px 5px;
}
.navbar-toggler{
    margin-right: 0px;
}

.img-content{
    width: 107%;
    border-radius: 3px; 
    margin: 5px -10px -5px -8px;
}
.img-bottom{
    border-radius: 3px; 
    width: 1300%;
    height: auto;
    margin-left: -10px;
    margin-right: -20px;        
}
.container-carousel{
    padding-top: 5px;
}
.merchandise-grid{
    padding: 5px;
}
.merchandise-header{
    background-color: rgb(221, 221, 221);
    border-radius: 2px;
    padding: 5px 0px;
    margin: 0px 34px;
}

.merchandise{
    padding: 5px 15px ;
    margin-left: -10px;
    margin-right: -10px;
}
.breadcrumb{
    padding: 10px;
    margin: 10px ;
    border-radius: 5px;
}
.sort-button{
    padding: 5px 10px;
    margin: 5px 5px;
    background-color: rgb(240, 240, 240);
    border-radius: 2px;
    border-width: 0px;
}
.buy{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background: rgb(255,80,80);
    background: linear-gradient(90deg, rgba(255,80,80,1) 45%, rgba(253,188,45,1) 100%);
    transition: 0.3s;
}
.buy:hover{
    background: linear-gradient(-45deg, rgba(255,80,80,1) 45%, rgba(253,188,45,1) 100%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
.buy-link{
    color: white;
    text-decoration: none;
}
.buy-link:hover{
    color: white;
}
.card{
    transition: 0.1s;
}
.card:hover{
    border-width: 5px;
    border-color: rgb(255, 17, 0);
}
.card img:hover{
    cursor: pointer;

}
.row{
    padding-left: 0px;
}
.address{
    padding-top: 15px;
}
.btn-social-icon{
    color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@media (min-width: 768px) {
    #login{
        position: absolute;
        right: 15px;
        top: -5px;
    }
    #sign-up{
        position: absolute;
        right: 120px;
        top: -5px;
    }
}
@media (max-width: 576px) {
    .modal-content{
        background: linear-gradient(-45deg, #d64545, #ec8c5f, #e7556e, #b763c2);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;    
    }
    .modal-content .modal-header{
        color: white;
    }
}

.custom-tooltip {
    position: relative;
    display: inline-block;
    }
    
.custom-tooltip .tooltiptext {
    visibility: hidden ;
    width: 380px;
    background-color: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    border-radius: 6px;
    z-index: 5;
    padding: 5px 5px;
    position: absolute;
    top: 120%;
    box-shadow: 2px 2px 4px #66666680;
    opacity: 0;
    transition: opacity 0.3s;
    object-fit: scale-down;

}
.custom-tooltip .tooltiptext::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -160px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent rgb(247, 247, 247) transparent;
    z-index: 5;


}
.custom-tooltip:hover .tooltiptext {
    visibility: visible;    
    opacity: 1;
}
.tooltiptext .tooltip-header{
    color: #d64545;
    border-style: double;
    padding-bottom: 10px;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(216, 216, 216);
}
.tooltiptext .tooltip-content .col-8{
    margin-left: -10px;
    margin-bottom: 10px;
}
.tooltiptext .tooltip-content img {
    margin-left: -20px;
    margin-bottom: 10px;
    max-width: 100px;
    margin-top: 10px;
}
.tooltiptext .tooltip-content:hover{
    cursor: pointer;
    background-color: rgba(173, 173, 173, 0.582);
}
.tooltiptext .tooltip-footer{
    padding: 5px;
    border: #cecece double;
    border-width: 1px 0px 0px 0px;
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	