body{
    background-color: #f0f0f0;
}
.container-fluid{
    position: relative;
}
.bg-custom{
    background: linear-gradient(-45deg, #ff8c69, #db2d53, #ee6578, #d86042);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

}
.nav-link{
    margin-left: 15px;
    border-radius: 5px;
    transition: 0.2s;
}
.nav-link:hover{
    background-color: rgba(140, 172, 209, 0.582);
}
#cart{
    margin-right: 15px;
}

#search{
    border-radius: 5px 50px 50px 5px;
}
.navbar-toggler{
    margin-right: 0px;
}

.img-content{
    border-radius: 3px; 
    width: 370px;
    margin-left: -15px;
}
.container-carousel{
    padding-top: 5px;
}

.merchandise-grid{
    padding: 5px;
}
.merchandise-header{
    background-color: rgb(221, 221, 221);
    border-radius: 2px;
    padding: 5px 0px;
    margin: 0px 34px;
}
.merchandise{
    padding: 5px 15px ;
    margin-left: -10px;
    margin-right: -10px;
}
.breadcrumb{
    padding: 10px;
    margin: 10px ;
    border-radius: 5px;
}
.sort-button{
    padding: 5px 10px;
    margin: 5px 5px;
    background-color: rgb(240, 240, 240);
    border-radius: 2px;
    border-width: 0px;
}
.buy{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background: rgb(255,80,80);
    background: linear-gradient(90deg, rgba(255,80,80,1) 45%, rgba(253,188,45,1) 100%);
    transition: 0.3s;
}
.buy:hover{
    background: linear-gradient(-45deg, rgba(255,80,80,1) 45%, rgba(253,188,45,1) 100%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
.buy-link{
    color: white;
    text-decoration: none;
}
.buy-link:hover{
    color: white;
}
.card{
    transition: 0.3s;
}
.card:hover{
    
    border-width: 5px;
    border-color: rgb(255, 17, 0);
}
.row{
    padding-left: 0px;
}
.address{
    padding-top: 15px;
}
.btn-social-icon{
    color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@media (min-width: 768px) {
    .login{
        position: absolute;
        right: 15px;
        top: -5px;
    }
    .sign-up{
        position: absolute;
        right: 120px;
        top: -5px;
    }
}
@media (min-width: 768px) {
    .login{
        position: absolute;
        right: 15px;
        top: 5px;
    }
    .sign-up{
        position: absolute;
        right: 120px;
        top: 5px;
    }
}
